# Checks that are run on every commit to main and every pull request.
name: Checks

on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read

jobs:
  check_package:
    name: packages/${{ matrix.package }}
    runs-on: macos-latest
    strategy:
      matrix:
        package: [google_fonts]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.32.x

      - name: Get packages
        run: flutter pub get

      - name: Analyze Dart code
        run: flutter analyze

      - name: Ensure Dart code is formatted correctly
        run: dart format --set-exit-if-changed .

      - name: Run Flutter unit tests
        run: flutter test
